<div class="home-module grid">
	<div class="col-1-2">
		<div class="about-event">
			<h2>What is Barcamp?</h2>
			<p><strong>Barcamp</strong> is an international network of user generated conferences primarily focused around technology and the web. They are open, participatory workshop-events, the content of which is provided by participants.</p>
			<a href="#">Read More</a>
		</div>
		<!-- /.about-event -->
	</div>
	<!-- /.col-1-2 -->
	<div class="col-1-2">
		<div class="site-info">
			<h2>About Developer</h2>
			<div class="author-card cf">
				<img src="/img/yangonese.jpg" alt="" class="fll">
				<div class="fll">
					<span class="big-text">Yangonese!</span>
					Freelance Writer &amp; Front-end Developer <br>
					contact@yangonese.com <br>
					www.yangonese.com
				</div>
			</div>
		</div>
	</div>
	<!-- /.col-1-2 -->
</div>
<!-- /.grid -->

<hr>